body {
  margin: 0;
  text-align: center;
  font-family: 'Muli', sans-serif;
}

h2 {
  font-family: 'Muli', sans-serif;
  color: aquamarine;
  font-weight: bolder;
  font-size: 2rem;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-width:  7px;
  border-color: lightgrey;
  width: 7.5%;
  /* margin: 10px auto 80px auto; */
}

p{
  line-height: 2;
}

.left-half {
  /* position: relative; */
  float: left;
  background-color: beige;
  width: 50%;
  height: 600px;
}

.right-half {
  /* position: relative; */
  float: right;
  background-color: lightgoldenrodyellow;
  width: 50%;
  height: 600px;
}

.profile-pic {
  margin-top: 20px;
  position: absolute;
  right: 540.4px;
  top: 70px;
  display: inline;
  width: 20%;
}

.my-name {
  font-family: 'Kaushan Script', cursive;
  margin: 0;
  position: absolute;
  right: 592px;
  top: 400px;
  display: inline;
  font-size: 2rem;
}

.tagline {
  position: relative;
  margin: 0 auto 0 auto;
  font-size: 2rem;
  display: inline-block;
  top: -125px;
}

.profile-container {
  margin: 0;
  /* position: relative; */
}

.joke-p {
  font-size: 1.5rem;
  color: darkgrey;
}
.joke-hr {
  margin: 40px auto 40px auto;
}

.intro-img {
  width: 10%;
}

.intro {
  width: 40%;
  margin: 0 auto 0 auto;
  font-size: 1.25rem;
}


