body {
  margin: 0;
}

p {
  font-family: 'Raleway', sans-serif;
}

h1 h2 {
  font-family: 'Muli', sans-serif;
}
.left-half {
  float: left;
  background-color: beige;
  width: 50%;
  height: 800px;
}

.right-half {
  float: right;
  background-color: lightgoldenrodyellow;
  width: 50%;
  height: 800px;
}
