body {
  margin: 0;
}

.my-name {
  font-family: 'Kaushan Script', cursive;
  margin: 0;
  position: absolute;
  right: 592px;
  top: 475px;
  display: inline;
  font-size: 2rem;
}

h1 h2 {
  font-family: 'Muli', sans-serif;
}
.left-half {
  float: left;
  background-color: beige;
  width: 50%;
  height: 550px;
}

.right-half {
  float: right;
  background-color: lightgoldenrodyellow;
  width: 50%;
  height: 550px;
}

img {
  margin-top: 20px;
  position: absolute;
  right: 540.4px;
  top: 100px;
  display: inline;
  width: 20%;
  border-radius: 100%;
}
